{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <title>联系我们</title>
    <br><br>
    <div class="container">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <h3>联系我们</h3>
            <p>如果您发现了什么BUG或者有一些建议的话<br>
                还请您写邮件发给我们~<br>
            </p>
            <p>
                wezy: hello-world-233@foxmail.com </p>
            <a class="btn btn-primary btn-lg" href="/museum/about_us/" role="button">更多关于我们的内容...</a>
            <a class="btn btn-default btn-lg" href="/forum/0/category/" role="button">主页</a>

        </div>
    </div>
{% endblock %}