{% extends 'layout.html' %}
{% block content %}
    <title>关于我们</title>
    <br>
    <div class="container">
        <h3>关于我们 <a class="btn btn-default" href="/">返回</a></h3>


        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>关于Earshit和《二班史册》<small> </small></h4>
            </div>
            <br>
            <ul>
                <li><h5>Earshit和《二班史册》分别是什么？</h5></li>
                <ul>
                    <li>Earshit是论坛，一个新的尝试，我们不满足于自己创作</li>
                    <li>《二班史册》是wezy的一位初中同学的大作，记录了发生在我们班有趣的事情，被wezy做成网站便于在线浏览。这里的《二班史册》也类似，应该会有固定的撰稿人，目前还没有过多打算。</li>
                </ul>
                <li><h5>为什么叫Earshit？</h5></li>
                <ul>
                    <li>这个项目的灵感来自于wezy给自己初中的班级做的《二班史册》网站，因此这个项目最初也叫二班史册，简称二史（二屎）</li>
                    <li>二屎谐音耳屎，于是叫Earshit</li>
                </ul>
                <li><h5>2班，指北京八中2025届2班</h5></li>
                {#          <li>《二班史册》，指刘有才根据我们班和年级发生的趣事编写的一部章回体书目（Ps.这里的章回体非传统意义上的章回体）</li>#}
                {#          <li>《二班史册》的手稿现存于刘有才的家中（不知道他弄丢了没有......）</li>#}
                {#          <li>在这个网站，你可以在线浏览《二班史册》，免费无广告无后门，良心！</li>#}
                {#          <li>《二班史册》的官网由wezy和qldyd开发</li>#}
                {##}
            </ul>
            {#        <div class="panel-body">#}
            {#        <!--<div class="page-header"></div>--><!--用于分割的线-->#}
            {#      </div>#}
        </div>
        {##}
        {#    <div class="panel panel-info">#}
        {#        <div class="panel-heading">#}
        {#            <h4>关于刘有才<small> </small></h4>#}
        {#        </div>#}
        {#        <br>#}
        {#        <ul>#}
        {#          <li>字有才，号刀灵居士</li>#}
        {#        </ul>#}
        {#        <div class="panel-body">#}
        {#        <!--<div class="page-header"></div>--><!--用于分割的线-->#}
        {#      </div>#}
        {#    </div>#}
        {##}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>关于wezy<small> 目标是全栈</small></h4>
            </div>
            <br>
            <ul>
                <li>负责网站的后端开发、基本前端页面的生成</li>
                <li>爱好：代码，游戏，羽毛球，刀灵（？），偶尔玩玩摄影和晶化</li>
                <li>北京八监狱友</li>
                <li>五人帮成员</li>
                <li>Steam讨论组成员</li>
            </ul>
            <div class="panel-body">
                <!--<div class="page-header"></div>--><!--用于分割的线-->
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>关于xxxx<small> xxxx</small></h4>
            </div>
            <br>
            <ul>
                <li>xxxx</li>
            </ul>
            <div class="panel-body">
                <!--<div class="page-header"></div>--><!--用于分割的线-->
            </div>
        </div>


    </div>
{% endblock %}